@font-face {
    font-family: 'CantoraOne';
    src: url('fonts/') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('font/La') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fonts/Heebo-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
}