@media (prefers-color-scheme: dark) {
    .element {
      color: var(--bs-primary-text-emphasis);
      background-color: var(--bs-primary-bg-subtle);
    }
  }

[data-bs-theme=dark] .element {
    color-scheme: dark;
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-black);
    --bs-body-bg-rgb: #{to-rgb($black)};
    --bs-tertiary-bg: #{$black-000};
  }

