@font-face {
    font-family: 'CantoraOne';
    src: url('fonts/CantoraOne-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BoldItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fonts/Heebo-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
}