* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    height: 65px;
    background-color: #a48674;
    color: #2f4f2f;
    font-family: Merriweather;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 94%;
    text-align: center;
    
}

h2 {
    height: 50px;
    background-color: #a48674;
    color: #2f4f2f;
    align-items: left;
    justify-content: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 94%;
    text-align: center;
    font-family: Merriweather;
    font-size: 24px;
    
}

h3 {
    height: 50px;
    background-color: #a48674;
    color: #2f4f2f;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 94%;
    text-align: center;
    font-family: Merriweather;
    font-size: 24px;
    
}

nav {
    padding: 50px;
    max-width: 94%;
    text-align: center;
    font-family: Sansita;
    letter-spacing: 2px;
    font-size: 30px;
    border-width: 1em;
    border-style: solid;
    border-color: #a48674;
    margin-left: auto;
    margin-right: auto;
    background-color: #a5a781;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

nav ul li a {
    color:#2f4f4f;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

nav ul li a:hover {
    color: #a48674;
    text-decoration: underline;
}

.display-inline-block {
    display: inline-block;
    background-color: #ffefd5;
}
* {
    box-sizing:border-box;
}

[class*="col-"] {
    width: 100%;
    float: center;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }

.row::after {
    content: "";
    clear: both;
    display: table;
}


body{
    background-color: #ffefd5;
}

p {
    background-color: #a5a781;
    color: #f8f8f8;
    font-family: Padauk;
    font-size: 20px;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto; 

}

.home-list {
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: center;
    margin-right: center; 
}

.photo-section {
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    
}

.hero-video {
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.audio-section {
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.video-section {
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.DigitalArt {
    color: #2f4f4f;
    font-family: Padauk;
    font-size: 20px;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto; 
}

.table-section {
    position: relative;
    right: auto;
    left: auto;
    align-items: left;
    justify-content: left;
    
    
}

.contact-section {
    position: relative;
    right: auto;
    left: auto;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 80px;
    width: 94px;
    background-color: #a48674;
    color: #2f4f4f;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: Merriweather;
}


